/*style.css*/

/* reset */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*main*/
html {
	height: 100%;
}
body {
	font-family: Arial, sans-serif;
	color: #515049;

	background-size: cover;
}
h1 {
	font-size: 36px;
	line-height: 42px;
    margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	line-height: 24px;
    margin-bottom: 20px;
}
h4 {
	font-size: 14px;
	line-height: 16px;
    margin-bottom: 10px;
}
p {
	margin-bottom: 6px;
}
p, label, span, a {
	font-size: 12px;
	line-height: 16px;
}
.text-right {
	text-align: right;
}
.bg-gray {
	background: #EBECED;
}
.bg-white, #sel-lang {
	background: #FFF;
}
.bg-cyan, .btn {
	background: #08948C;
}
.col-Dgray {
	color: #515049;
}
.col-cyan, a, h1, h2, h4 {
	color: #08948C;
}
.col-white, .btn, .copyright {
	color: #FFFFFF;
}
.col-red {
	color: #FF0000 !important;
}
.error-msg {
	color: #ad7b5a !important
}
.strong, label, h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.block, .main-wrapper, .wrapper, #header, #footer, h1, h2, h3, h4, h5, h6 {
	clear: both;
	display: block;
}
.display-no {
	display: none;
}
.f-left, .login-cont, .features-cont, .features-icon, .features-desc {
	float: left;
	display: inline-block;
}
.f-right {
	float: right;
}
.marginTB30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.marginT10, .features-cont .req-links a {
	margin-top: 10px;
}
.paddingTB30 {
    padding-top: 30px;
}
.paddingT10 {
	padding-top: 10px;
}
.paddingT20 {
	padding-top: 20px;
}
input, select {
	width: 100%;
	font-size: 12px;
}
select {
	height: 20px;
}
label {
	margin-bottom: 6px;
	display: block;
}
.main-wrapper {
	margin: 0 auto;
	width: 960px;
	height: auto;
	/*background: #C76BC7;*/
}
#header {
	height: 90px;
	margin: 15px 0;
	font-size: 12px;
}
.logo {
	float: left;
	display: inline-block;
	padding: 15px 0;
	width: 14%;
}
.language-cont {
	display: inline-block;
	float: left;
	border-bottom: 1px solid #DDD;
	position: relative;
	width: 80%;
    height: 72px;
    margin-left: 6%;
	text-align: right;
}
.language-cont > a {
	text-align: right;
	top: 50px;
	position: relative;
}
#sel-lang {
	display: block;
	padding: 10px;
	border: 1px solid #DDD;
	position: absolute;
	top: 77px;
	right: 0px;
	width: 200px;
}
#sel-lang span, #sel-lang select {
	display: block;
}
#sel-lang select {
	margin: 5px 0 10px 0;
}
.btn {
	padding: 5px 10px;
	display: inline-block;
}
.btn:hover {
	text-decoration: none;
}
.cancel-btn, .forgotten-btn {
	float: left;
	top: 7px;
    position: relative;
}
.select-btn, .submit-btn {
	float: right;
	text-decoration: none;
}
/*.wrapper {
	margin-right: -15px;
    margin-left: -15px;
}*/
.width-10, .width-20, .width-30, .width-40, .width-50, .width-60, .width-70, .width-80, .width-90, .width-100 {
    padding-right: 15px;
    padding-left: 15px;
	position: relative;
	float: left;
}
.width-10 {
	width: 10%;
}
.width-20 {
	width: 20%;
}
.width-30 {
	width: 30%;
}
.width-40 {
	width: 40%;
}
.width-50 {
	width: 50%;
}
.width-60 {
	width: 60%;
}
.width-70 {
	width: 70%;
}
.width-80 {
	width: 80%;
}
.width-90 {
	width: 90%;
}
.width-100 {
	width: 100%;
}
.login-cont {
	width: 30%;
	padding: 40px 3%;
	margin-right: 4%;
	/*background: rgba(8,148,140,0.3);*/
	/*background: url("../images/cyan-bg35.png") repeat;*/
	background: #F5F5F5;
	height: 400px;

}

.login-cont label, .login-cont p, .login-cont span, .login-cont a {
	color: #000;
}
.login-cont a {
	text-decoration: underline;
}
.login-cont label {
	font-size: 14px;
}
/*.login-cont input {
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	border-radius: 0px;
	border: 1px solid #08948C;
	margin-bottom: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}*/
.login-cont input[type="text"], .login-cont input[type="password"], .login-cont input[type="submit"] {
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	border-radius: 0px;
	border: 1px solid #08948C;
	margin-bottom: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}
.login-cont input[type="text"] {
	font-size: 18px;
	color: #CCC;
}
.login-cont input[type="password"] {
	font-size: 24px;
	color: #CCC;
}
.login-cont input[type="checkbox"] {
	height: 16px;
	width: 16px;
	border-radius: 0px;
	border: 1px solid #08948C;
	top: 5px;
    position: relative;
    padding: 0;
    margin: 0 0 10px 0;
}
input[type="submit"] {
	font-size: 18px;
	text-align: center;
	background: #08948C;
	color: #FFFFFF;
}
.error-msg {
    margin-bottom: 20px;
}
.features-cont {
	width: 45%;
	padding: 40px 3%;
	/*background: #F5F5F5;*/
	min-height: 400px;
	color: #FFFFFF;
}
.submit-login {
	margin-top: 40px;
	margin-bottom: 40px;
}
.features-cont .block {
    border-top: 1px solid #CCC;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 5px;
}
.features-icon {
	width: 16%;
	margin-right: 2%;
}
.features-icon img {
	width: 54px;
}
.features-desc {
	width: 80%;
	word-wrap: break-word;
}
#footer ul {
	padding: 30px 0 10px 0;
    list-style-type: none;
    margin: 0;
}
#footer ul li {
	list-style-type: none;
	margin-bottom: 5px;
	border-left: 1px solid #DDD;
	padding: 1px 5px;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
}
#footer ul li.no-Lborder {
	border-left: 0px solid #DDD;
}
.copyright {
	font-size: 11px;
	text-align: right;
	padding: 10px 0;
}

.admin-cont {
  width: 70%;
  padding: 40px 3%;
  margin-right: 4%;
  /*background: rgba(8,148,140,0.3);*/

  background: #F5F5F5;
  height: 500px;
}

/*media queries*/


@media screen and (max-width: 800px) {

	body {
		background: #000000;
	}

	input {
		height: 36px;
	}
	select {
		height: 40px;
	}
	h1 {
		font-size: 26px;
		line-height: 28px;
	}
	h2 {
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 14px;
		line-height: 16px;
	}
	.main-wrapper {
	    margin: 0 auto;
	    width: 92%;
	    height: auto;
	    padding-right: 4%;
	    padding-left: 4%;
	}
	.logo {
	    padding: 15px 0;
	    width: 50%;
	}
	.language-cont {
	    width: 44%;
	    margin-left: 6%;
	    text-align: right;
	    padding-right: 0;
	}
	#sel-lang {
	    background: #EBECED;
	}
	.login-cont {
	    width: 92%;
	    padding: 30px 4% 20px 4%;
	    margin-right: 0;
	    margin-bottom: 30px;
	    height: auto;
	}
	.features-cont {
	    width: 92%;
	    padding: 30px 4%;
    	background: #EBECED;
    	height: auto;
    	color: #000;
	}
	.features-icon img {
		width: 44px;
	}
	.features-cont .block {
	    border-top: 1px solid #CCC;
	    margin-bottom: 0px;
		overflow: hidden;

	}
	.features-cont .req-links {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
	.main-wrapper {
	    margin: 0 auto;
	    width: 96%;
	    height: auto;
	    padding-right: 2%;
	    padding-left: 2%;
	}
}
